
div.draggable {
    width: 200px;
    height:280px;
    margin-top : 80px;
}
#draggable1, #draggable2, #draggable3 {
    margin: 0%;
}
#draggable1 {
    position: absolute;
}
#draggable2 {
    position: absolute;
}
#draggable3 {
    margin:0px;
    position: relative;
}
#draggable2, .in-hand{
    margin-left: 40px;
}
#draggable3, .in-hand{
    margin-left: 80px;
}

div.draggable:hover {
    border: 1px solid #e70012;
    border-radius: 5px;
    box-shadow: 2px 2px #888888;
}
#draggableContent {
    height: 100%;
    width: 100%;
    margin: 50px;
    
}

div.draggable img {
    width: 100%;
    height: auto;
}


#box_left,#box_right{
    width:200px;
    display:inline-block;
    height:280px;
    margin-top:23%;
    border: 3px solid #e70012;
    border-radius: 5px;
}
#box_left{
    background-color: lightgray;
    margin-right: 10px;
}
#box_right{
    background-color:lightgray;
    margin-left: 10px;
}
img {
    width:100%;
    height:100%;
    display:block;
}
#facecachée {
    position: absolute;
}

.hidden {
    display: none;
}