body {
    font-family: 'Righteous';
}

#component {
    margin-top : 100px;
}

#menu {
    float: left;
    padding: 5px;
    margin-left : 20px;
    font-size : 25px;
    border-radius : 5px;
}

#history {
    float: center;
    padding: 5px;
    margin-left : 250px;
    margin-right : 400px;
    font-size: 25px;
    background-color : #e53935;
    color: white;
    border-radius : 5px;
}

#stats {
    float: center;
    padding: 5px;
    margin-left : 250px;
    margin-right : 400px;
    font-size: 25px;
    background-color : #e53935;
    color: white;
}

.hidden {
    display: none;
}

.histocontent {
    padding: 5px;
    padding : 5px;
    margin-left: 20px;
}

h4 {
    color : white;
}

a {
    color : white ;
}

a:hover {
    color : #d50000;
}