<link rel="stylesheet" href="/styles/login.css">
<div className="photo">
  <img src="/images/uno.png" className="logo" />
  <h1>Login</h1> 
</div>
<style>@import url('https://fonts.googleapis.com/css?family=Righteous');</style>
  <form method="POST" action="/login">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="submit">
</form>
<a href="http://localhost:1337/register">Register</a>