<div className="photo">
  <img src="/images/uno.png" className="logo" />
  <h1>Register</h1> 
</div>
<style>@import url('https://fonts.googleapis.com/css?family=Righteous');</style>
<form class="formRegister" method="POST" action="/register">
  <input type="text" name="username" placeholder="Username">
  <input type="email" name="email" placeholder="Email Address">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="submit">
</form>