.tailleimg {
    height : 30%;
    width : 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%
}

.imgson {
    width: 150px;
	height: 150px;
	margin-left: 200px;
}

body {
    background: url(./ressources/bois.jpg);
}

.button {
    backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: rgba(0,0,0,0);
  border-radius: 100px;
  border: 5px solid black;
  border-width: 5px 5px 5px 5px;
  padding: 3px 10px 2px 10px;
    color: black;
  font-size: 20px;
  font-family: 'Righteous', cursive;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 1px
  }
