div.draggable {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.draggable:hover {
    border: 1px solid #777;
}

div.draggable img {
    width: 100%;
    height: auto;
}

div#target {
    border: 1px solid black;
    width: 200px;
    height: 250px;
    padding: 5px;
    float: left;
}

div#cards {
    border: 1px solid black;
    width: 200px;
    height: 250px;
    padding: 5px;
    float: right;
}



