div.draggable {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.draggable:hover {
    border: 1px solid #777;
}

div.draggable img {
    width: 100%;
    height: auto;
}